<%- include("./_header.ejs") %>
  <body>
  	<h1>Edit Religion</h1>
  	<form id="editReligionForm" data-religion-id="<%= religion.id %>">
	  	<div>
	  		<label for="name">Name</label>
	  		<input id="name" value="<%= religion.name %>"></input>
		</div>
	  	<div>
	  		<label for="historicalRoots">Historical Roots</label>
	  		<input id="historicalRoots" value="<%= religion.historicalRoots %>"></input>
		</div>
	  	<div>
	  		<label for="basicBeliefs">Basic Beliefs</label>
	  		<input id="basicBeliefs" value="<%= religion.basicBeliefs %>"></input>
		</div>
	  	<div>
	  		<label for="practices">Practices</label>
	  		<input id="practices" value="<%= religion.practices %>"></input>
		</div>
	  	<div>
	  		<label for="organization">Organization</label>
	  		<input id="organization" value="<%= religion.organization %>"></input>
		</div>
	  	<div>
	  		<label for="books">Books</label>
	  		<input id="books" value="<%= religion.books[0] %>"></input>
		</div>
		<button type="submit">Submit</button>
  	</form>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/editReligion.js"></script>
  </body>
</html>
