<%- include("./_header.ejs") %>
  	<span><%= religion.name %></span>
    <button id="deleteButton" data-religion-id="<%= religion.id %>">Delete Religion</button>
    <span>HISTORICAL ROOTS</span>
    <div id="religion">
      <%= religion.historicalRoots %>
    </div>

     <span>BASIC BELIEFS</span>
    <div>
      <%= religion.basicBeliefs %>
    </div>

       <span>PRACTICES</span>
    <div>
      <%= religion.practices %>
    </div>

       <span>ORGANIZATION</span>
    <div>
      <%= religion.organization %>
    </div>

       <span>BOOKS</span>
    <div>
      <%= religion.books %>
    </div>
    <a href="../religion"><button>Back to Home</button></a> 

  </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/religionDetail.js"></script>
  </body>
</html>
