<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HYPATIA</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' 
		rel='stylesheet' type='text/css'>
<!-- 	<link rel="stylesheet" href="styles/main.css"> -->
  </head>
  <body>
  	<h1><%= religion.name %></h1>
    <h2>HISTORICAL ROOTS</h2>
    <div>
      <%= religion.historicalRoots %>
    </div>

     <h2>BASIC BELIEFS</h2>
    <div>
      <%= religion.basicBeliefs %>
    </div>

       <h2>PRACTICES</h2>
    <div>
      <%= religion.practices %>
    </div>

       <h2>ORGANIZATION</h2>
    <div>
      <%= religion.organization %>
    </div>

       <h2>BOOKS</h2>
    <div>
      <%= religion.books %>
    </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </body>
</html>
